.stat {
    width: 100%;
    height: auto;
    border-radius: 1.6rem;
    padding-top: 3.8rem;
    background-position: top -1rem right 1.6rem, center;
    background-repeat: no-repeat;
}

.stat--work {
    background-image:
        url("/src/images/icon-work.svg"),
        linear-gradient(to bottom, var(--color-work) 0% 50%, var(--color-dark-blue) 50% 100%);
}

.stat--play {
    background-image:
        url("/src/images/icon-play.svg"),
        linear-gradient(to bottom, var(--color-play) 0% 50%, var(--color-dark-blue) 50% 100%);
}

.stat--study {
    background-image:
        url("/src/images/icon-study.svg"),
        linear-gradient(to bottom, var(--color-study) 0% 50%, var(--color-dark-blue) 50% 100%);
}

.stat--exercise {
    background-image:
        url("/src/images/icon-exercise.svg"),
        linear-gradient(to bottom, var(--color-exercise) 0% 50%, var(--color-dark-blue) 50% 100%);
}

.stat--social {
    background-image:
        url("/src/images/icon-social.svg"),
        linear-gradient(to bottom, var(--color-social) 0% 50%, var(--color-dark-blue) 50% 100%);
}

.stat--self-care {
    background-image:
        url("/src/images/icon-self-care.svg"),
        linear-gradient(to bottom, var(--color-self-care) 0% 50%, var(--color-dark-blue) 50% 100%);
}

.stat__content {
    width: 100%;
    height: auto;
    padding: 2.4rem;
    border-radius: 1.6rem;
    background-color: var(--color-dark-blue);
}

.stat__row {
    display: flex;
    width: 100%;
    height: auto;
}

.stat__row--top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.stat__row--bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.stat__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-white);
    margin: 0;
}

.stat__button {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.stat__icon {
    width: 2rem;
    height: auto;
    color: var(--color-white);
    margin: auto;
}

.stat__current {
    font-size: 3.2rem;
    font-weight: 300;
    color: var(--color-white);
    margin: 0 0 0.4rem 0;
}

.stat__previous {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-pale-blue);
    margin: 0;
}

@media screen and (min-width: 375px) {
    .stat__row--bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (min-width: 992px) {
    .stat__row--bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .stat__row--top {
        margin-bottom: 2.4rem;
    }

    .stat__current {
        font-size: 5.6rem;
        margin-bottom: 0.8rem;
    }
}
